<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="pro-pref.css">
  <link href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky|Nova+Flat|Overlock+SC|Sniglet|Yatra+One|Hammersmith+One" rel="stylesheet">
  <link rel="stylesheet" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title></title>
</head>
<body>
  <header></header>
  <section class="mainContainer">

    <form class="" action="preferences" method="post">

      <section class="venue space">
        <h3>What do you like to do?</h3>
        <select class="" name="venue" multiple>
          <option value="nightclub">Nightclubs</option>
          <option value="lounge">Lounges</option>
          <option value="bar">Bars</option>
          <option value="hookah">Hookah</option>
          <option value="comedy-club">Comedy Clubs</option>
          <option value="brewery">Brewerys</option>
          <option value="casino">Casinos</option>
        </select>
      </section>

        <section class="music space">
          <h3>What kind of music do you like?</h3>
          <select class="" name="favoriteMusic" multiple>
            <option value="alternative">Alternative</option>
            <option value="electronic">Electronic</option>
            <option value="hip-hop">Hip-Hop/Rap</option>
            <option value="rock">Rock</option>
            <option value="afro-beats">Afrobeats</option>
            <option value="blues">Blues</option>
            <option value="dance">Dance</option>
            <option value="dj-mixes">DJ Mixes & Live Sets</option>
            <option value="indie">Indie</option>
            <option value="jazz">Jazz</option>
            <option value="metal">Metal</option>
            <option value="pop">Pop</option>
            <option value="r&b">R&B</option>
            <option value="dance-hall">Dance Hall</option>
            <option value="soca">Soca</option>
            <option value="latin">Latin</option>
            <option value="reggaeton">Reggaeton</option>
          </select>
        </section>

      <section class="favorite-venue space">
        <h3>What is your favorite venue?</h3>
        <input type="text" name="favVenue" value="">
      </section>

      <section class="favorite-song space">
        <h3>What is your favorite song?</h3>
        <input type="text" name="favSong" value="">
      </section>

      <input type="submit" class="btn" name="" value="">

    </form>
    </section>

    <script type="text/javascript"src="main.js"></script>
  </body>
  </html>
