<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="profile.css">
    <link href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky|Nova+Flat|Overlock+SC|Sniglet|Yatra+One|Hammersmith+One" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title></title>
  </head>
  <body>
    <section class="top">
      <section class="topLeft">
        <section class="pic">
          <i class="fas fa-user-circle fa-10x"></i>
        </section>
      </section>
      <section class="topRight">
        <section class="indiv">
          <span style="color:red"> <%= user.local.username %> </span>
        </section>
        <section class="followers">
          <section class="following">
            <span>1,320</span>
            <p>followers</p>
          </section>
          <section class="follows-me">
            <span>45</span>
            <p>following</p>
          </section>
        </section>
        <section class="favorites">
          <ul>
            <li><span class="category">Favorites</span></li>
            <li><span class="category">Music:</span><span class="value"> Rap/Hip-Hop</span></li>
            <li><span class="category">Club:</span><span class="value"> Bijou</span></li>
            <li><span class="category">Dj:</span><span class="value"> Big Tunes</span></li>
            <li><span class="category">Drink:</span><span class="value"> Hennessy & Red Bull</span></li>
            <li><span class="category">Song:</span><span class="value"> Mo Bamba</span></li>
          </ul>
        </section>
      </section>
      <section class="topBottom">
        <span><span class="value">(BIO)</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</span>
      </section>
    </section>
    <section class="bottom">
      <h1 class="center">Interactions</h1>
      <ul>
        <li class="Interactions"><span class="value">@JessicaRabbit accepted your friend request</span></li>
        <li class="Interactions"><span class="value">@SwootyJudy is going to @venu's #AllWhiteAffair</span></li>
        <li class="Interactions"><span class="value">you have updated your favorite song</span></li>
        <li class="Interactions"><span class="value">your favorite club is having #AllBlackAffair tomorrow night</span></li>
        <li class="Interactions"><span class="value">@BigTunes is dj'ing at @Bijou tonight!</span></li>
      </ul>
    </section>
    <section class="nav-bar sticky">
      <nav>
        <ul>
          <li class="list"><a href="/"><i class="fas fa-globe fa-2x"></i></a></li>
          <li class="list"><a href="/calendar"><i class="fas fa-calendar-alt fa-2x"></i></a></li>
          <li class="list"><a href="/wordoftheday"><i class="fas fa-question fa-2x"></i></a></li>
        </ul>
      </nav>
    </section>
  </body>
</html>
