<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="word-of-the-day.css">
    <link href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Word of the Day!</h1>
    </header>
    <section class="mainContainer">
      <section class="mainContainer2">
        <section class="event">

        </section>
      </section>
      <section class="description">
        <ul>
          <li><span class="category">Dress code:</span><span class="value"> no boots, t-shirts, hats, baggy pants, chains, sneakers, shorts, hoodies</span></li>
          <li><span class="category">Date:</span><span class="value"> 4/27/2019</span></li>
          <li><span class="category">Hosted by:</span><span class="value"> The Sons of Poseidon</span></li>
          <li><span class="category">Sponsored by:</span><span class="value"> Hennessy</span></li>
          <li><span class="category">Perks:</span><span class="value"> free before 11</span></li>
          <li><span class="category">Time: beginning /end:</span><span class="value"> 10-2</span></li>
          <li><span class="category">Age limit:</span><span class="value"> 21+</span></li>
          <li><span class="category">DJ:</span><span class="value"> DJ LoLo Brown</span></li>
          <li><span class="category">Price:</span><span class="value"> $20</span></li>
          <li><span class="category">Ticket link:</span><span class="value"> <a href="eventbrite.com">eventbrite.com</a></span></li>
        </ul>
      </section>
    </section>
  </body>
</html>
