*{
  box-sizing: border-box;
}
html,body{
  margin: 0;
  padding: 0;
  font-size: 15px;
  background-color: #130f40;
  color: white;
  font-family: 'Hammersmith One', sans-serif;
}


@media only screen and (max-width: 768px){
  section{
    width: 100%;
  }

  header{
    width: 100%;
    height: 50px;
  }
  h1{
    font-family: 'Overlock SC', cursive;
    text-align: center;
    font-size: 40px;
    margin: 0px;
  }
  li{
    margin: 25px 26px 5px 0px;
    list-style: none;
  }
  td{
    border: 1px solid #af8300;
  }
  table{
    width: 100%;
    height: 100%;
  }
  ul{
    padding-left: 15px;
  }
  a{
    color: white;
  }
  i{
    color: #af8300;
  }
  img{
    width: 300px;
    height: 300px;
    border: 2px solid white;
    margin-top: 45px;
  }
  .property{
    color: #af8300;
  }
  .picture{
    padding-top: 15px;
  }
  .calendar{
    width: 100%;
    height: 100%;
  }
  .weekdays{
    width: 100%;
    height: 10px;
    margin-top: 30px;
  }
  .days{
    width: 100%;
    height: 10px;
  }
  .mainContainer{
    width: 100%;
    height: 50%;
    margin: auto;
    text-align: center;
  }
  .mainContainer2{
    width: 100%;
    height: 50%;
  }
  .serch-txt{
    margin-left: 47px;
  }
  .search-box{
    width: 50%;
    height: 100%;
    float: right;
  }
  .main{
    width: 100%;
    height:812px;
  }
  .mainDisplay{
    width: 80%;
    height: 80%;
    margin: 0 0 0 36px;
  }
  .category{
    font-family: 'Hammersmith One', sans-serif;
  }
  .value{
    color: white;
  }
  .fas-fa-search{
    icon
  }
  .menu-list li{
    color: white;
  }
  .list{
    float: left;
    width: 25%;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .nav-bar{
    position: sticky;
    bottom: 0;
    border: 1px solid white;
    margin: 0;
    padding: 0;
    height: 50px;
    background-color: white;
  }
  .nav-bar ul{
    margin-bottom: -6px;
  }
  .main-menu .menu-list {
    display: flex;
    display: none;
    background: #af8300;
    position: absolute ;
    z-index: 999;
  }
  #menu{
    float: left;
    font-size: 20px;
  }
}
